* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}


/* ----- HEADER ----- */ 
header {
  height: 90px;
  width: 100%;
}

.google-logo {
  text-align: center;
  margin-top: 28px;
}

img.logo {
  margin-top: 10px;
}


/* ----- MAIN ----- */ 
.google-account {
  text-align: center;
  height: 561px;
}

p.simple-text1 {
  font-size: 34px;
  font-weight: 300;
  color: #606060;
}

p.simple-text2 {
  font-size: 16px;
  color: #838383;
  margin-top: 14px;
}

.login-box {
  margin: 0 auto;
  width: 320px;
  height: 275px;
  margin-top: 12px;
  background-color: whitesmoke;
  border-radius: 3px;
  box-shadow: 0 2px 4px #868686
}

img.icon {
  border-radius: 50%;
  margin-top: 35px;
  margin-bottom: 20px;
}

.sign-in {
 height: 90px;
}

input[type="text"],
input[type="button"] {
  height: 40px;
  width: 260px;
}

input[type="text"] {
  font-size: 14px;
  margin-bottom: 8px;
  padding-left: 6px;
}

input[type="button"] {
  border-radius: 5px;
  border-color:  #4285f4;
  border-style: none;
  background-color: #4285f4;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.help {
  text-align: right;
}

 .help span {
  font-size: 12px;
  font-weight: 600;
  color: #4285f4;
  margin-right: 20px;
}

.create-account {
  height: 90px;
  padding-top: 15px;
}

a {
  padding: 10px;
  color: gray;
  text-decoration: none;
}

a.create {
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #4285f4;
}

.create-account p {
  font-size: 13px;
  font-weight: bold;
  color: #838383;
  padding-top: 27px;
}

.google-icons {
  height: 40px;
  width: 350px;
  margin: 0 auto;
  padding-left: 60px;
}

.google-icons img {
  display: block;
  float: left;
  margin-left: 12px;
  height: 18px;
}


/* ----- FOOTER ----- */ 
footer {
  position: relative; 
  bottom:0;
  left:0;
  width: 100%;
  height: 42px;
  background-color: whitesmoke;
  border-top: 0.09em solid lightgray;
}

.footer-links {
  padding: 14px;
  font-size: 12px;
}